@{
    ViewData["Title"] = "Home Page";
}


<html>
<body background="http://mosaicon.hu/wallpapers/varos/fullhd-hatterkep-mosaicon-688648599-lanchid-budapest.jpg">
    <h1>Hello Budapest :)</h1>
</body>
</html>
