@model BankAccount
@{
    ViewData["Title"] = "Simba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Name: @Model.Name,  Balance: @Model.Balance.ToString(".00 Zebra"),  Type: @Model.AnimalType </h2>

