@model User
@{
    ViewData["Title"] = "Home";
}

<html>
<body>

    <div class="header">
        <h2>MyReddit</h2>
    </div>
    <form action="/index" method="post">
        Username:<br>
        <input type="text" name="Username" value="peteigyismukodnifog4" required>
        <br>
        Password<br>
        <input type="text" name="Password" value="" required>
        <br><br>
        <input type="submit" value="Login">
    </form>


    <p>If you click the "Login" button, you prop wont login cuz idk yet nigga </p>

</body>
</html>