@{
    ViewData["Title"] = "Home Page";
}

<html>
<body background="https://www.wallpaperup.com/uploads/wallpapers/2015/05/10/683599/d263d1e9b6567d3589bd01dde31675bc.jpg">
    <h1>Hello Budapest!</h1>
</body>
</html>
